.box{
    margin-top: 2%;
    display: flex;
    margin-left: 40px;
    margin-right: 20px;
    padding: 3;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 20px;
}
.desc{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.photo{
    height: 1000%;
}
.heading{
    margin-top: 2%;
    margin-left: 45%;
}
