.header2{
    background-color: rgb(185, 80, 255);
    color:white;
    border-radius: 10px;
}
.form{
    border: 1px solid;
    background-color: #eee;
    border-radius: 15px;
    margin: 15px;
    padding: 15px 0;
}
.b button{
    background-color: rgb(185, 80, 255);
    color:white;
}
